.library-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-font-color);
}

.library-list__heading {
  color: var(--strong-font-color);
}

.library-list__list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 3rem;
}

.library-list__item {
  border-bottom: 0.5px solid #f2f2f2;
}

.library-list__link {
  text-decoration: none;
  color: var(--main-font-color);
}

.library-list__link:hover,
.library-list__link:active {
  color: var(--strong-font-color);
}
